@font-face {
    font-family: 'HelveticaNeueLTPro45Light';
    src: url('../fonts/helveticaneueltpro-lt.eot');
    src: url('../fonts/helveticaneueltpro-lt.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltpro-lt.woff') format('woff'),
         url('../fonts/helveticaneueltpro-lt.ttf') format('truetype'),
         url('../fonts/helveticaneueltpro-lt.svg#HelveticaNeueLTPro45Light') format('svg');
}


@font-face {
    font-family: 'HelveticaNeueLTPro25UltraLight';
    src: url('../fonts/helveticaneueltpro-ultlt.eot');
    src: url('../fonts/helveticaneueltpro-ultlt.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltpro-ultlt.woff') format('woff'),
         url('../fonts/helveticaneueltpro-ultlt.ttf') format('truetype'),
         url('../fonts/helveticaneueltpro-ultlt.svg#HelveticaNeueLTPro25UltraLight') format('svg');
}


.main-site {
	background: url("../img/bg.png") no-repeat;
	width: 100%;
	height: 844px;
	float:left;
}

.content {
	margin:auto;
	width: 925px;
	height: 700px;
}

.wrapper {
	float:left;
	width: 100%;
	height: 100%;
}

#header	{
	float:left; 
	width:925px;
	height: 100px;
	margin-top:44px;
}

#header #menu {
	z-index: 10;
	position: relative;
	width:195px;
	cursor: pointer;
	margin-top:20px;
	float:right;
}

#header #menu .menu-ok {
	float:right;
	margin-right: 6px;
	margin-top:8px;
}

#header #down {
	padding-top:60px;
	float:left;
	font-family: helvetica;
	position: absolute;
	display: none
}

#menu #down .header {
	width: 194px;
	height: 35px;
	background: rgba(255, 255, 255, 0.9);
}

#menu #down .body {
	height: 195px;
	width:194px;
	background: rgba(219, 219, 219, 0.9);	
}

#menu #down .body a:first-child {
	margin-top:20px !important;
}

#menu #down .body a {
	float:left;
	width:190px;
	text-indent: 20px;
	color: #333333;
	text-decoration: none;
	font-size: 12px;
	margin-top:16px;
}

#menu #down .body a:hover {
	color: #AC0B0B;
}

#menu #down .footer {
	height: 35px;
	width:194px;
	background: rgba(183, 183, 183, 0.9);
}

#menu #down .footer div{
	width: 180px;
	float: left;
	margin-left:24px;
	margin-top:8px;
}

#menu #down .footer a {
	text-decoration: none;
	color : #333333;
	font-size: 11px;
	line-height: 20px;
	float:left;
	margin-left:6px;
}

#menu #down .footer a:hover {
	text-decoration: underline;
}

#menu #down .footer span {
	font-size: 15px;
	line-height: 20px;
	float:left;
	margin-left: 6px;
}

.content .sol {
	margin-top: 20px;
	margin-left:14px;	
	background: url("../img/sol-bg.png") no-repeat;
	float:left; 
	width:313px;
	height: 485px;
}

.content .sol p {
	text-align: center;
	color: white;
	width:250px;
	font-family: helvetica;
	font-weight: 100;
}

.content .sol .hemenbasvur {
	float:left; 
	margin-left:23px;
	cursor: pointer;
	width:247px;
	height: 59px;
	background: url('../img/hemenbasvur.png');
}

.content .sol .hemenbasvur:hover {
	background: url('../img/hemenbasvur-hover.png');
}

.content .pop {
	background-color: rgba(253, 253, 253, 0.8);
	width: 100%;
	height: 507px;
	border-radius: 10px;
	margin-top: 10px;
}

.page {

	display: none;
	width: 100%;
	float:left;
}

.page h2 {
	float:left; 
	color: #e82a2a;
	font-weight: 100;
	font-family: HelveticaNeueLTPro25UltraLight;
	margin-top: 0px;
	font-size: 30px;
	margin: 28px;
	width: 100%;
}

.casebg {
	background-image: url("../img/case-bg.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

.page .body p{
	font-family: HelveticaNeueLTPro45Light;
	font-size: 15px;
}

.casebg .pop-body {
	width: 520px;
	float:left;
}

.btn-lg {
	text-align: center;
	line-height: 48px;
	float: left;
	background: url("../img/btn-lg-red.png");
	width: 260px;
	height: 44px;
	border:none;
	cursor: pointer;
	font-size: 32px;
	padding-top: 4px;
	font-family: HelveticaNeueLTPro25UltraLight;
	font-weight: 100;
	color:white;
}

.btn-lg:hover {
	background: url("../img/btn-lg-red-hover.png");
}

.case-indir {
	margin-left:124px;
	margin-top:40px;
	float:left;
}

.case-indir:hover {
	opacity: 0.9
}

.input {
	width: 431px;
	height: 45px;
	float: left;
	background: url("../img/input-bg.png");
	margin-bottom: 6px;
}

.input-alert {
	background: url("../img/input-bg-alert.png") !important;
}

.fileinput {
	background: url("../img/fileinput-bg.png");
}

.textarea{
	background: url("../img/textarea-bg.png");
	height: 95px; 
}

.textarea-alert {
	background: url("../img/textarea-alert.png") !important;
}

.textarea textarea {
	width: 400px;
	margin-left: 10px;
	margin-top: 10px;
	height: 67px;
	border: none;
	font-family: HelveticaNeueLTPro25UltraLight;
	font-size: 18px;
}

.input input::-moz-placeholder, .input input::-webkit-input-placeholder {
   font-family: HelveticaNeueLTPro25UltraLight;
}

.input input {
	background: none;
	border: none;
	width: 390px;
	margin-left: 10px;
	height: 33px;
	font-size: 20px;
	font-family: HelveticaNeueLTPro45Light;
	line-height: 33px;
	margin-top: 7px;
}

.hiddeninput[type=file] {
	opacity: 0;
	width: 80px;
	cursor: pointer;
	height: 59px;
	margin-top: -21px;
}

#fileform{
	position: absolute;
	margin-top: -48px;
	margin-left: 343px;
}

.fileinput input {
	width: 325px;	
} 

#tiptip_holder {
	font-size: 14px;
	font-family: HelveticaNeueLTPro45Light;
}

.uyarilar {
	margin-top:20px;
}

.uyarilar p {
	color : #353535 !important;
	font-size: 13px !important;
	line-height: 18px !important;
}

.juri-item {
	float:left;
	width:200px;
	height: 200px;
	cursor: pointer
}

.juri-item h2 {
	font-size: 18px;
	margin-top: 80px;
	color: white;
	width: 160px;
	margin-left: 6px;
	text-align: center;
	font-family: helvetica;
}

.juri-hover {
	display: none;
	background: url("../img/juri/hover.png") no-repeat;
	width: 169px;
	height: 169px;
	background-size: 165px;
	background-position-x: 4px;
	background-position-y: 4px;
}

.juri-item:hover > .juri-hover {
	display: block;
}

.juri-item img {
	cursor: pointer;
	width: 165px;
	margin-left: 4px;
	margin-top: 4px;
	display:none;
}

.juri-detay {
	margin:30px;
	margin-top:0px; !important
}

.juri-detay .body {
	width:674px;
	float:left;
	margin-left: 10px;
}

.juri-detay .body h2 {
	font-size:24px;
	margin:0px !important;
	margin-top: 60px !important;
	margin-bottom:20px;
}

.juri-detay .body p{
	margin-top: 20px;
	float:left; width:100%;
}

.juri-detay .body h2 span {
	font-weight:bold;
	font-family:HelveticaNeueLTPro45Light;
}

.juri-detay .title {
	float:left;
	width:685px;
	font-family:HelveticaNeueLTPro25UltraLight;
}

.juri-detay .title a {
	float:right;
	color:#e82a2a;
	text-decoration:none;
}

.contentHolder { position:relative; margin:0px auto; padding:0px; width: 440px; height: 400px; overflow: hidden; }
.contentHolder .scrollcontent { height: 900px; }

.case3d {margin-top:64px;}
.case3d img {display:none; height:515px; width:309px;z-index:99; position: relative}

.icon {position:absolute;z-index:2;}
.icon-araba {left:96px;top:-30px;}
.icon-yol {left:218px; top:350px;}
.icon-telefon {left: 232px; top:118px;}
.icon-like {left: 5px; top:400px;}
.icon-tabela {left:-5px; top:329px;}
.icon-park {left: 0px; top:240px;}
.icon-trafik {left:-24px; top:150px;}
.icon-gunes {left:0px; top:57px;}
.icon-araba {left:120px;top:33px;}
.icon-pusula {left: 248px;top: 48px;}

.slider-bg {float:left; width:150px; background: url('../img/tire.png')}


